.cell,
.cell-hidden {
  color: var(--clr-cell);
  background-color: var(--clr-cell-bg);
  border: var(--cell-border);
}

.cell:hover,
.cell-hidden:hover {
  color: var(--clr-cell-hover);
  background-color: var(--clr-cell-hover-bg);
  border: var(--cell-hover-border);
}

.cell-shown {
  color: var(--clr-cell-shown);
  background-color: var(--clr-cell-shown-bg);
  border: var(--cell-shown-border);
}

.cell-flagged {
  color: var(--clr-cell-flagged);
  background-color: var(--clr-cell-flagged-bg);
  border: var(--cell-flagged-border);
}

.cell-flagged-yes {
  color: var(--clr-cell-flagged-yes);
  background-color: var(--clr-cell-flagged-yes-bg);
  border: var(--cell-flagged-yes-border);
}

.cell-mine {
  color: var(--clr-cell-mine);
  background-color: var(--clr-cell-mine-bg);
  border: var(--cell-mine-border);
}
